<div class="container">
  <div *ngIf="task">
    <h2>{{ task.title }}</h2>
    <p>Description: {{ task.description }}</p>
    <p>Deadline: {{ task.deadline | date:'yyyy-MM-dd HH:mm:ss' }}</p>
    <p>Status: {{ task.status }}</p>
  </div>
  <button type="button" class="btn btn-secondary" (click)="returnToMainPage()">Return</button>
  <button type="button" class="btn btn-primary" (click)="openEditTaskFormDialog()">Edit</button>
  <button type="button" class="btn btn-secondary" (click)="removeTask(task?.id)">Delete</button>
</div>
