<div class="tasks-container">
  <table class="tasks-table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Title</th>
        <th class="deadline-header" scope="col" (click)="sortTable('deadline')">Deadline</th>
        <th class="status-header" scope="col" (click)="sortTable('status')">Status</th>
      </tr>
    </thead>

    <tbody>
      <tr
        *ngFor="let task of tasks; let i = index"
        (click)="openTaskDetailsDialog(task.id)"
      >
        <td>{{ rowCount + 1 + i }}</td>
        <td>{{ task.title }}</td>
        <td>{{ task.deadline | date : "yyyy-MM-dd HH:mm:ss" }}</td>
        <td>
          <div (click)="$event.stopPropagation()">
            <select id="status-dropdown"
              [value]="task.status"
              [(ngModel)]="task.status"
              (change)="updateTaskStatus(task)"
            >
              <option class="status-todo" value="TODO">TODO</option>
              <option class="status-inprogress" value="IN_PROGRESS">IN PROGRESS</option>
              <option class="status-done" value="DONE">DONE</option>
            </select>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
