<div>
    <table>
        <tr>
          <th scope="col" >#</th>
          <th scope="col" >Title</th>
          <th scope="col" (click)="sortTable('deadline')">Deadline</th>
          <th scope="col" (click)="sortTable('status')">Status</th>
        </tr>
      <tbody>
        <tr *ngFor="let task of tasks; let i = index" (click)="openTaskDetailsDialog(task.id)">
          <td>{{ rowCount + 1 + i }}</td>
          <td>{{ task.title }}</td>
          <td>{{ task.deadline }}</td>
          <td>{{ task.status }}</td>
        </tr>
      </tbody>
    </table>
</div>
